
@font-face {
    font-family: myFirstFont;
    src: url(shabnam/Shabnam-light.woff);
}
#support {
	font-family: myFirstFont;
	font-size: 100%;
	background-color:  #3b55e6;
	position: fixed;
	bottom: 0;
	right: 100px;
	color: white;
	border-top-right-radius : 14px;
	border-top-left-radius : 14px;
    background-image: url('../pic/chat-support.png');
    background-repeat: no-repeat;
    background-position: right 10px center;	
	height: 40px;
	width: 180px;
	padding-left: 0px;
	border: none;
	
}
#support_chat{
	display: none;
	position: fixed;
	bottom: 0;
	right: 100px;
	height: 400px;
	width: 350px;	
	background-color: #3b55e6;
	
	border-top-right-radius : 14px;
	border-top-left-radius : 14px;
}
#id {
	background-color: #3b55e6;
	display: flex;
	height: 100px;
	margin-left: 10px;
	margin-right: 10px;
	border-top-right-radius : 14px;
	border-top-left-radius : 14px;
	padding-top: 10px;
	margin-top : 0;
}
#pic_id{
	width:100px;
	background-repeat: no-repeat;
	margin-left: 5px;
}
#item1{
	
	margin-right: 10px;
	margin-top: 5px;
}
#item2{
	
	margin-left: 10px;
	margin-top: 5px;
}
#img ,.img1 {
	border-radius: 50%;
	float: right;
}
.img2 {
	border-radius: 50%;
	float:left;
}
#button_back{
	height: 30px;
	width: 30px;
	background-image: url('../pic/minus.png');
  background-repeat: no-repeat;
	background-position:center bottom 0px;
	border: none;
	border-radius: 6px;
}
#nameandpost{
	width: 180px;
	margin: 5 ;
	margin-left: 5px;
	margin-top: 5px
}
#name, #post{
	width: 180px;
	height: 30px;
	border: beige;	
	color: white;
	text-align: right;
	font-family: myFirstFont;
}
#chat{
	 overflow-y: scroll;
	height: 240px;
	background-color: #DEDBDB;	
	border-top-right-radius : 14px;
	border-top-left-radius : 14px;
}
#send{
	border:  solid #C7C5C5 2px;
	width:336px;	
	height:40px;
	background-color: #DEDBDB;	
	padding: 5px 5px 5px 5px;
	
}
#chat_input{
	height:35px;
	width: 100%;
	border-radius: 10px;
	border: none;	
	text-align: right;
}
#send_button{
	background-image: url('../pic/send.png');
  background-repeat: no-repeat;
	background-position:center center;
	height: 35px;
	width :40px;
	border: none;
	z-index: 2;
	position: absolute;
	top : 358px;
	border-radius: 12px;
}